{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block sidebar%}
<div class='col-md-4'>
            <div class="list-group">
                {% for itemcat in categories %}
                <a  href="{% url 'category' itemcat.pk %}" class="list-group-item list-group-item-action">{{itemcat.title}}  <span class="badge bg-secondary"> {{itemcat.cnt}}</span></a>
                {% endfor%}
            </div>
        </div>
{% endblock %}
{% block content%}
<div class='col-md-8'>
            {% for item in places %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: {{item.category}}
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                        <img src="{{item.photo.url}}" alt="" width="300" class="mr-3">
                        {% endif %}
                        <div class="media-body">
                        </div>
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.content|truncatechars:250}}</p>
                        <a href="{% url 'view_place' item.pk %}" class="btn btn-primary">Read more...</a>
                    </div>

                    <div class="card-footer text-muted">
                        {{item.updated_at}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}




